spring:
  application:
    name: back
  output:
    ansi:
      enabled: ALWAYS
  jackson:
    serialization:
      fail-on-empty-beans: false
  profiles:
    active: dev

logging:
  level:
    com:
      back: debug

server:
  port: 8080
